body 
{

    font-family: sans-serif;
    font-size: 1em;
    position: relative;
    
}

/*** NAVBAR ***/

#navbar_container
{
    list-style-type: none;
    padding: 0;
    margin: 2% 1% 0 1%;
    font-size: 0.8em;
}

#navbar_container li
{
    display: inline-block;
    padding: 0 7px;
}

#navbar_container li a 
{
    text-decoration: none;
    color: #3d3d3d;
}

#navbar_container li a:hover
{
    text-decoration: underline;
}

.nav_right
{
    float: right; 
    margin-right: 1%;
}

#grid_icon
{
    display: inline-block;
    background-image: url('images/grid.png');
    background-size: contain;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 0.8em;
    opacity: 0.6;
}

#grid_icon:hover
{
    opacity: 1;
}

#blue_button 
{
    display: inline-block;
    background-color: lightblue;
    width: 4.2em;
    height: 2.3em;
    line-height: 2.4em;
    margin-top: -2.3em;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #4285F4;
    border-radius: 2px;
}

#blue_button:hover
{
    box-shadow: 0 1px 0 #ccc;
}

/*** MAIN CONTENT ***/

.hcenter
{
    
    display: block;
    margin: 0 auto;
    
}

#main_content
{
    position: absolute;
    left: 0;
    right: 0;
    top: 8.2em;
}

/* SEARCHBAR */

#searchbar_container
{
    margin-top: 1.7em;
    border: 1px solid #dfe1e5;
    width: 36em;
    padding: 0.72em 0.2em;
    border-radius: 24px;
    background-image: url(images/search_icon.svg);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0.7em;
    text-align: right;
}

#searchbar_container input
{
    width: 33em;
    background: none;
    border: none;
    font-size: 1em;
    margin-right: 0.2em;
}

#searchbar_container:hover
{
    box-shadow: 0 1px 6px 1px #dfe1e5;
}

/* SEARCHBAR BUTTONS */

#searchbutton_container
{
    text-align: center;
    margin-top: 1.8em;
}

.grey_button
{
    display: inline-block;
    font-size: 0.87em;
    text-decoration: none;
    color: #5F6368;
    background-color: #F5F5F5;
    border: none;
    margin-right: 0.6em;
    padding: 0.9em 1.3em 0.7em 1.3em;
    border-radius: 4px;
}

.grey_button:hover
{
    box-shadow: 0 0 0.5px 1px #ccc;
}

/* FOOTER */
